<strong>Olá, {{ deliverer }}</strong>
<p>Infelizmente tivemos que cancelar uma entrega sua :(</p>
<p>
  <strong>ID da entrega: </strong> {{ id }} <br/>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Motivo: </strong> {{ reason }} <br />
</p>
